*~
target/
data*xml
*pbf
*graph-cache
nbactions.xml
node_modules/
/log_history_ll/points.log.1
/log_history_ll/points.log.10
/log_history_ll/points.log.11
/log_history_ll/points.log.12
/log_history_ll/points.log.13
/log_history_ll/points.log.14
/log_history_ll/points.log.15
/log_history_ll/points.log.16
/log_history_ll/points.log.17
/log_history_ll/points.log.18
/log_history_ll/points.log.19
/log_history_ll/points.log.2
/log_history_ll/points.log.20
/log_history_ll/points.log.21
/log_history_ll/points.log.22
/log_history_ll/points.log.23
/log_history_ll/points.log.24
/log_history_ll/points.log.3
/log_history_ll/points.log.4
/log_history_ll/points.log.5
/log_history_ll/points.log.6
/log_history_ll/points.log.7
/log_history_ll/points.log.8
/log_history_ll/points.log.9
/log_history_ll/points.log.0
/.classpath
/.idea/.gitignore
/.idea/graphhopper-traffic-data-integration.iml
/.idea/modules.xml
/.idea/vcs.xml
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
